.Dice{

    animation: spin 0.12s ease-in-out infinite  ;
    transform-style: preserve-3d;
}

.staticDice{
    width: 20%;
    justify-content: center;
    align-items: center;
}


@keyframes spin{
    from {
        transform: rotateX(0deg)
    }
    to{
        transform: rotateX(180deg)
    }
}



