.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Dices{
  width: 70%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: mov 0.9s ease-in-out infinite ;
  transform-style: preserve-3d;
}

@keyframes mov{
 from{
   align-items: flex-start
 }
 to{
   align-items: flex-end
 }
}

.cont{
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start
}